<!-- Benefits section -->
<section class="benefits_section">
    <div class="container">
        <div class="benefits_group">
            <svg class="benefits_svg"><use href="../images/sprite.svg#icon-fluent-emoji-high-contrast_chocolate-bar"></use></svg>
            <h2>Unsurpassed taste</h2>
            <p>Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new level of chocolate bliss.</p>
        </div>
        <div class="benefits_group">
            <svg class="benefits_svg"><use href="../images/sprite.svg#icon-Coin"></use></svg>
            <h2>Affordable price</h2>
            <p>Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable treats. Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse our selection and indulge in affordable luxury today.</p>
        </div>
        <div class="benefits_group">
            <svg class="benefits_svg"><use href="../images/sprite.svg#icon-la_utensil-spoon"></use></svg>
            <h2>Own production</h2>
            <p>We take pride in our own production process, ensuring that every step is carefully crafted to perfection. From selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.</p>
        </div>
    </div>
</section>

<!-- Item section -->
<section class="item_section">
    <div class="container">
        <h2>IT ALL ADDS UP TO ONE EXCEPTIONAL TASTE SENSATION</h2>
        <p>At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one exceptional taste sensation.</p>
       <div class="item_images">
           <img src="../images/kisspng-milk-white-chocolate-hot-chocolate-chocolate-bar.jpg" alt="chololate">
           <img src="../images/kisspng-milk.jpg" alt="milk bottle">
           <img src="../images/kisspng-almonds.jpg" alt="almonds">
           <img src="../images/semi-sweet-chocolate.jpg" alt="sweet chololate">
        </div>
       </div>
    </div>
</section>
